*{margin: 0; padding: 0;}

body{}

section{}

header{
    background-color: #7C7C7C;
    width: 100%;
    height: 200px;
}

nav{
    background-color: #DDDDDD;
    width: 20%;
    height: 500px;
    float: left;
}

main{
    background-color: yellow;
    width: 70%;
    height: 500px;
    float: left;
}

aside{
    background-color: #c4c4c4;
    width: 10%;
    height: 500px;
    float: left;
}

footer{
    background-color: #212121;
    width: 100%;
    height: 50px;
    clear: both;
}