*{margin: 0; padding: 0;}

body{}

section{}

header{
    background-color: #7C7C7C;
    width: 100%;
    height: 200px;
}

#nav-topo{
    background-color: #56CCF2;
    width: 100%;
    height: 80px;
    position: sticky;
    top: 0px;
    z-index: 1;
}

nav{
    background-color: #DDDDDD;
    width: 20%;
    height: 1000px;
    float: left;
}

main{
    background-color: #FFF;
    width: 70%;
    height: 1000px;
    float: left;
}

#caixa{
    background-color: #2F80ED;
    width: 90%;
    height: 300px;
    /*position: absolute;*/
    position: relative;
    top: 70px;
    left: 70px;
}

aside{
    background-color: #c4c4c4;
    width: 10%;
    height: 1000px;
    float: left;
}

footer{
    background-color: #212121;
    width: 100%;
    height: 50px;
    clear: both;
}

#bt-topo{
    background-color: #2D9CDB;
    width: 70px;
    height: 70px;
    border-radius: 35px;
    position: fixed;
    right: 30px;
    bottom: 30px;
}